<h1>Livros disponíveis:</h1>
<div class="books-container">
    <a href="/">Adicionar Livro</a>
    {{#each books}}
        <div>
            #{{this.id}} - <span class="bold"><a href="/books/{{this.id}}">{{this.title}}</a></span> - {{this.pageqty}} págs.
        </div>
    {{/each}}
</div>