<h1>Olá, Eu sou a Home</h1>

{{#if auth}}
<p>
    <a href="/dashboard">Você está autentificado, clique aqui para acessar o dashboard</a>
</p>

{{else}}
<p>Você não está autentificado.</p>

{{/if}}