<h1>Edite o seu livro:</h1>
<form action="/books/updatebook" method="POST" class="form">
    <input type="hidden" name="id" value="{{book.id}}">
    <a href="/books">Ver Livros</a>
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título" value="{{book.title}}">
    </div>
    <div class="form-control">
        <label for="pageqty">Páginas:</label>
        <input type="number" name="pageqty" placeholder="Digite o número de páginas" value="{{book.pageqty}}">
    </div>
    <input type="submit" value="Editar">
</form>