<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Criar Pensamentos</a>
    </div>
    <h3>Seus Pensamentos</h3>
    <ul>
        {{#each toughts}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
                    <form action="/toughts/remove" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Exclur" class="btn">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
        <p>Ainda não há nenhum pensamento seu, comece a criar <a href="/toughts/add">por aqui</a></p>
    {{/if}}
</div>