<h1>Cadastre seu livro:</h1>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título">
    </div>
    <div class="form-control">
        <label for="pagesqty">Páginas:</label>
        <input type="number" name="pagesqty" placeholder="Digite o número de páginas">
    </div>
    <input type="submit" value="Cadastrar">
</form>