<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Estrutura MVC</title>
</head>
<body>
    <nav id="navbar">
        <h2>MVC Todo</h2>
        <ul>
            <li><a href="/tasks">Ver todos</a></li>
            <li><a href="/tasks/add">Criar</a></li>
        </ul>
    </nav>

    <div class="container">
        {{{ body }}}
    </div>

</body>
</html>